#controlbar{
    grid-area: controlbar;
    background: #0d47a1 /*#880e4f*/;
    color: whitesmoke;
    border-bottom: solid 1px #212529;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    .action-button{
        padding-left: 1em;
        padding-right: 1em;
        font-size: 0.8em;
        color: whitesmoke;
        opacity: 0.8;
        cursor: pointer;
    }
    
    .action-button:hover{
        color: white;
        opacity: 1;
    }
}

