@import "~bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  display: grid;
  grid-template-rows: 48px 30px 1fr 200px 20px;
  grid-template-columns: 1fr 380px; /*350px*/
  grid-template-areas: 
      "navbar navbar"
      "controlbar controlbar"
      "canvas sidepanel"
      "canvas canvas-overview"
      "footer footer";
  row-gap: 0px;
  column-gap: 0px;
  place-items: stretch;
  overflow: hidden;
}

body > * {
  box-sizing: border-box;
  outline: none;
}

svg svg >*{
  outline: none;
}


#navbar{
  grid-area: navbar;
  background: #002171 /*#560027*/;
  color: white;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 36px;
}

#navbar .title{
  font-size: 20px;
  font-weight: 500;
  border-bottom: solid 1px #212529;
}


#footer{
  grid-area: footer;
  background: #002171 /*#560027*/;
  color: white;
  line-height: 20px;
  font-size: 0.8em;
  padding-left: 1em;
  border-top: solid 1px #212529;

  #app-version{
    font-family: monospace;
    font-weight: 300;
  }
}



#tooltip-templates{
  display: none;
}