<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Verto Designer">
        <title>Verto Designer</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    </head>
    <body>
        <div id="navbar">
            <div class="title">VERTO <small>Designer</small></div>
        </div>
        <div id="controlbar">
            <div id="btn-new-project" class="action-button">
                <i class="fas fa-file"></i> New Project
            </div>
            <div id="btn-load-file" class="action-button">
                <i class="fas fa-folder-open"></i> Open
            </div>
            <div id="btn-save-file" class="action-button">
                <i class="fas fa-save"></i> Save
            </div>
        </div>
        <svg id="canvas">
            <defs>
                <marker id='activity-handle-arrow' markerWidth='8' markerHeight='8' refX='0' refY='2' orient='auto' markerUnits='strokeWidth' fill="darkgrey">
                    <path d="M0,0 L0,4 L4,2 z"/>
                </marker>
            </defs>
        </svg>

        <svg id="canvas-overview"></svg>

        <div id="sidepanel">
            <div class="sidepanel-menu global-menu">
                <nav>
                    <div class="nav nav-tabs" role="tablist">
                      <a class="nav-item nav-link active" id="nav-activities" data-toggle="tab" href="#tab-activities" role="tab" aria-controls="tab-activities" aria-selected="true">Activities <span id="num-activities" class="badge badge-pill badge-light"></span></a>
                      <a class="nav-item nav-link" id="nav-constraints" data-toggle="tab" href="#tab-constraints" role="tab" aria-controls="tab-constraints" aria-selected="false">Constraints <span id="num-constraints" class="badge badge-pill badge-light"></span></a>
                    </div>
                  </nav>
                  <div class="tab-content">
                    <div class="tab-pane fade show active table-responsive-sm" id="tab-activities" role="tabpanel" aria-labelledby="activities-tab"></div>
                    <div class="tab-pane fade table-responsive-sm" id="tab-constraints" role="tabpanel" aria-labelledby="constraints-tab"></div>
                </div>
            </div>
            <div class="sidepanel-menu activity-menu" style="display: none;">
                <div class="header">
                    <h5>Activity <span class="activity-id"></span></h5>
                </div>
                <div class="body">
                    <div class="form-group">
                        <label for="activity-name">Name:</label>
                        <input type="text" class="form-control activity-name">
                    </div>
                </div>
                <div class="footer">
                    <button type="button" class="btn btn-danger btn-sm btn-block delete-activity">
                        <i class="icon fas fa-trash"></i> Delete
                    </button>
                </div>
            </div>

            <div class="sidepanel-menu constraint-menu" style="display: none;">
                <div class="header">
                    <h5>Constraint <span class="constraint-id"></span></h5>
                </div>
                <div class="params">
                    <div class="p1">
                        <span class="param-name">(A)</span>
                        <span class="param-value"></span> 
                    </div>
                    <div class="p2">
                        <span class="param-name">(B)</span>
                        <span class="param-value"></span> 
                    </div>
                    <div class="swap-btn">
                        <button type="button" class="btn btn-sm btn-outline-dark">
                            <i class="fas fa-retweet"></i>
                        </button>
                    </div>
                </div>
                <div class="body"></div>
                <div class="footer">
                    <button type="button" class="btn btn-danger btn-sm btn-block delete-constraint">
                        <i class="icon fas fa-trash"></i> Delete
                    </button>
                </div>
            </div>
        </div>

        <div id="footer">
            <div id="app-version"><%= htmlWebpackPlugin.options.title %> v<%= htmlWebpackPlugin.options.version %></div>
        </div>

        <div id="import-panel" style="display: none;">
            <form action = "/success" method = "post" enctype="multipart/form-data", target="_blank">
            <div id="import-container">
                <input id="import-file" type="file" name="file"/>  
                <div id="import-icon"> <i class="fas fa-file-upload"></i> </div>
                <div id="import-text">
                    <label id="import-choose-button" for="import-file">Choose a file</label> or drag it here.
                </div>
            </div>
            </form>
        </div>

        <div id="export-panel" style="display: none;">
            <div id="export-container">
                <input id="import-file" type="file" name="file"/>  
                <div id="import-icon"> <i class="fas fa-file-upload"></i> </div>
                <div id="import-text">
                    <label id="import-choose-button" for="import-file">Choose a file</label> or drag it here.
                </div>
            </div>
        </div>
    </body>
</html>